.cardred{
    color:crimson;
    background-color: darkgrey;
    padding: 0px 5px 0px 5px;
}
.cardblack{
    color:black;
    background-color: darkgrey;
    padding: 0px 5px 0px 5px;

}
div{
    background-color: wheat;
    font-size:30px;
    width:300px;
}