div{
    color:#00A800;
}
body{
    background-color: black;
    margin:0;
    
}
nav{
    color:white;

}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.nav_site{
    padding: 10px 20px;
}
.nav_site_items{
    color:crimson;
}
#list{
    color:#00A800;
}