$second-text:#9093A6;
$logofont:"Kanit", sans-serif;
$mainfont:"Martel Sans", sans-serif;
$second-font:"Poppins",sans-serif;
$yellow-br:#FFE145;
$hyper:#000000;
$bordercolor:#D4D7e5;
$borders: 3px $yellow-br dashed;
$button-text-col:#3f4255;
$headcolor:#121232;
$greybg:#F2F4Fa;
$dr-yellow:#B79c10;
$mn-shad:rgba(0,0,0,0.24) 0px 3px 8px;
$hv-shad:rgba(183, 156, 16, 1) 0px 3px 8px;

$tablet-width:760px;
$desktop-width:1200px;