.map, .search, .main-banner, .main-head .nav {
  margin: 0 auto;
  width: 80%;
}

.search form, .search, .rs-ls .title, .ban-button, .main-banner, .main-head .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map, .search .yellow-send-button:hover, .search .yellow-send-button, .ls-cont ul li, .ls-cont ul, .yellow-button, .main-head .nav .buttons-cont .button_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .title, .rs-ls {
  font-size: 36px;
  color: #3f4255;
  font-weight: 300;
  line-height: 64px;
}

body {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-family: "Martel Sans", sans-serif;
}

.logo {
  width: 30px;
}

.main-head {
  border-bottom: 1px #D4D7e5 dashed;
}
.main-head .nav {
  padding: 20px 0px;
}
.main-head .nav .logo_cont {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.main-head .nav .logo_cont a {
  color: #000000;
}
.main-head .nav .logo_cont .yellow_text {
  position: relative;
  z-index: 2;
}
.main-head .nav .logo_cont .yellow_text::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  width: 63px;
  height: 13px;
  background-color: #FFE145;
  top: 50%;
}
.main-head .nav .buttons-cont {
  display: flex;
  gap: 20px;
}
.main-head .nav .buttons-cont .button_nav {
  font-size: 14px;
  color: #9093A6;
  font-weight: 700;
}
.main-head .nav .buttons-cont .menu {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.main-head .nav .buttons-cont .menu:hover {
  color: #FFE145;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.main-banner {
  position: relative;
}
.main-banner h1 {
  font-size: 58px;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 40px;
}
@media screen and (max-width: 1050px) {
  .main-banner h1 {
    font-size: 40px;
  }
}

.yellow-button {
  padding: 0px 7px;
  border: 3px #FFE145 dashed;
  background-color: transparent;
  border-radius: 10px;
  color: #3f4255;
  flex-direction: column;
  color: #121232;
}

.ban-button {
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}
.ban-button span {
  font-size: 12px;
}
.ban-button span:first-child {
  font-size: 16px;
  font-weight: 700;
}

.ls-cont {
  position: absolute;
  bottom: 10%;
  width: 60%;
  border: black 1px solid;
  padding: 1% 1% 1% 10%;
}
.ls-cont ul {
  flex-direction: row;
  justify-content: space-between;
}
.ls-cont ul li {
  flex-basis: 25%;
  gap: 10px;
}
.ls-cont ul li span {
  font-size: 14px;
  color: #3f4255;
  letter-spacing: 0.5%;
  line-height: 24px;
}
.ls-cont ul li img {
  transform: scale(1);
  transition: all 3s;
}
.ls-cont ul li img:hover {
  transform: scale(1.3);
  transition: all 3s;
}

.rs-ls {
  padding: 40px 40px;
  /*ul{
      @extend %flex-params;
      flex-direction: row;
      li{
          transform: scale(1.0);
          transition: all 3s;
          &:hover{
              transform: scale(1.1);
              transition: all 3s ;
          }  
      }*/
  /*.rs-item{
      none
  }*/
}
.rs-ls .title {
  flex-direction: row;
  align-items: center;
}

.greybg {
  background-color: #F2F4Fa;
}

.search {
  padding: 40px 0px;
  color: #3f4255;
}
.search p {
  font-size: 16px;
}
.search form {
  position: relative;
  gap: 5px;
}
.search .input {
  width: 336px;
  height: 72px;
  padding: 0 15px 0 50px;
  background-color: white;
  color: #9093A6;
}
.search .input::-moz-placeholder {
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
}
.search .input::placeholder {
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
}
.search .img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 15px;
}
.search .img:hover {
  color: #FFE145;
  transition: all 3s;
}
.search .yellow-send-button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0px 7px;
  border: 3px #FFE145 dashed;
  background-color: #FFE145;
  border-radius: 10px;
  color: #3f4255;
  width: 88px;
  height: 72px;
  color: #B79c10;
}
.search .yellow-send-button:hover {
  padding: 0px 7px;
  border: 3px #FFE145 dashed;
  background-color: transparent;
  border-radius: 10px;
  color: #3f4255;
  box-shadow: rgb(183, 156, 16) 0px 3px 8px;
  transition: all 3s;
}

.icon, .ioc {
  width: 35px;
  height: auto;
} /*
.ioc{
    width:30px;
    height:auto;
}*/
.map {
  padding: 40px 0;
}
.map .mapframe {
  width: 100%;
  height: 600px;
}/*# sourceMappingURL=task2.css.map */